footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 768px;
    transform: translateX(-50%);
    border-top: 1px solid #eeeeee;
}
footer ul {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    margin: 0;
    padding: 7px 20px 0;
}
footer ul li {
    box-sizing: content-box;
}
footer ul a {
    display: flex;
}
footer ul img {
    width: 100%;
}
