.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;
    z-index: 10;
    background-color: white;
}
.header_menu .logo {
    padding-top: 4px;
}
.header_menu li {
    display: flex;
}
