.section01 {
    background-color: #f4f4f4;
    height: 568px;
    margin-top: 60px;
}

.section01 .main {
    margin: 0 40px 0 30px;
}

.section01 .main-text {
    padding-top: 30px;
}

.section01 .main-button {
    margin-top: 7px;
    margin-left: 3px;
}

.section01 .main-button img {
    display: block;
}

.section01 .main-profile {
    position: absolute;
    top: 74px;
    right: 40px;
}

.section01 .main .main-contents__wrapper {
    margin-top: 102px;
}

.section01 .main-contents:first-child {
    margin-top: 0;
}

.section01 .main-contents {
    margin-top: 18px;
}


/* .section01 .main-hidden {
    margin: 0 30px;
    padding-top: 20px;
    display: none;
} */

.section01 .main-hidden .main-contents2 {
    margin-top: 19px;
}

.section01.active {
    height: 568px;
}

.section01.active .main-hidden {
    display: block;
}

.down-arrow {
    position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon/icon-down-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 9.08px;
    outline: none;
}

.section01.active .down-arrow {
    transform: translateX(-50%) rotateX(180deg);
}

.section02 {
    background-color: #5725e0;
    height: 562px;
}

.section02 .text {
    padding-top: 50px;
    padding-left: 30px;
}

.section02 .shape {
    margin-top: 40px;
    padding-left: 30px;
    text-align: right;
}

.section03 {
    background-color: #5725e0;
    height: 120px;
}

.section03 .img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.section03-swiper {
    width: 100%;
    height: 100%;
}

.section03-swiper .swiper-pagination {
    top: 28px;
    left: auto;
    right: 30px;
    width: auto;
}

.section03-swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    margin: 0;
}

.section03-swiper .swiper-pagination-bullet+.section03-swiper .swiper-pagination-bullet {
    margin-left: 10px;
}

.section03-swiper .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.8);
}

.section03-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.section03-swiper .swiper-slide-active {
    opacity: 1;
}

.section03-swiper .swiper-slide img {
    display: block;
    object-fit: cover;
}

.section04 {
    background-color: #f4f4f4;
    height: 118px;
}

.section04 .img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 55px);
}

.section05 {
    background-color: #fff;
    height: 520px;
}

.section05 .text {
    padding-top: 50px;
    padding-left: 30px;
}

.section05 .shape {
    margin-top: 42px;
    padding-left: 30px;
}

.section06 {
    padding-top: 26px;
    padding-left: 31px;
    height: 295px;
    font-size: 0;
    background-color: #fff;
}

.section06 div[class^="banner"] {
    display: flex;
    justify-content: space-between;
}

.section06 .banner1 {
    position: relative;
    padding: 13px 42px 21px 30px;
    text-align: right;
    background: #141414;
}

.section06 .banner1 .banner1__img {
    position: absolute;
    right: 42px;
    top: 60%;
    transform: translateY(-50%);
}

.section06 .banner2 {
    padding: 13px 36px 21px 30px;
    text-align: right;
    background: #10c4cf;
}

.section07 {
    background-color: #5725e0;
    height: 561px;
}

.section07 .text {
    padding-top: 50px;
    padding-left: 30px;
}

.section07 .shape {
    margin-top: 30px;
    padding-left: 30px;
    text-align: right;
}

.section08 {
    background-color: #5725e0;
    height: 124px;
}

.section08 .banner {
    position: absolute;
    top: 20px;
    left: 30px;
}

.section09 {
    background-color: #f4f4f4;
    height: 120px;
}

.section09 .banner {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
    align-items: center;
}

.section10 {
    background-color: #fff;
}

.section10-swiper {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    padding-bottom: 30px;
}

.section10-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.section10-swiper .swiper-slide-active {
    opacity: 1;
}

.section10-swiper .swiper-slide img {
    display: block;
    object-fit: cover;
}

.section11 {
    background-color: #fff;
    height: 100px;
}

.section11 .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}