* {
    margin: 0;
    padding: 0;
    max-width: 768px;
}
body {
    width: 100%;
}

section {
    position: relative;
}
.wrap {
    width: 100%;
    max-width: 768px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.section01 {
    background-color: rgba(244, 244, 244, 1);
    height: 473px;
}
.section01 .main {
    margin: 0 30px;
}
.section01 .main-text {
    padding-top: 30px;
}
.section01 .main-button {
    margin-top: 7px;
}
.section01 .main-profile {
    position: absolute;
    top: 74px;
    right: 40px;
}
.section01 .main .main-contents1 {
    margin-top: 90px;
}
.section01 .main .main-contents2 {
    margin-top: 19px;
}
.section01 .main-hidden {
    margin: 0 30px;
    padding-top: 20px;
    display: none;
}
.section01 .main-hidden .main-contents2 {
    margin-top: 19px;
}
.section01.active {
    height: 620px;
}
.section01.active .main-hidden {
    display: block;
}
.down-arrow {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    width: 7.56px;
    height: 12px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon-down-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
}
.section01.active .down-arrow {
    transform: translateX(-50%) rotateX(180deg);
}
.section02 {
    background-color: rgba(87, 37, 224, 1);
    height: 576px;
}
.section02 .text {
    padding-top: 50px;
    padding-left: 30px;
}
.section02 .shape {
    margin-top: 40px;
    padding-left: 30px;
    text-align: right;
}
.section03 {
    background-color: rgba(87, 37, 224, 1);
    height: 120px;
}
.section03 .img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.section04 {
    background-color: rgba(244, 244, 244, 1);
    height: 146px;
}
.section04 .img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.section05 {
    background-color: rgba(255, 255, 255, 1);
    height: 520px;
}
.section05 .text {
    padding-top: 50px;
    padding-left: 30px;
}
.section05 .shape {
    margin-top: 30px;
    padding-left: 30px;
}
.section06 {
    background-color: rgba(255, 255, 255, 1);
    height: 295px;
    font-size: 0;
}
.section06 .banner1 {
    padding-top: 26px;
    padding-left: 30px;
    text-align: right;
}
.section06 .banner2 {
    padding-left: 30px;
    text-align: right;
}
.section07 {
    background-color: rgba(87, 37, 224, 1);
    height: 561px;
}
.section07 .text {
    padding-top: 50px;
    padding-left: 30px;
}
.section07 .shape {
    margin-top: 30px;
    padding-left: 30px;
    text-align: right;
}
.section08 {
    background-color: rgba(87, 37, 224, 1);
    height: 124px;
}
.section09 {
    background-color: rgba(244, 244, 244, 1);
    height: 126px;
}
.section09 .banner {
    position: absolute;
    top: 20px;
    left: 30px;
}
.section10 {
    background-color: rgba(255, 255, 255, 1);
    height: 285px;
}
.section11 {
    background-color: rgba(255, 255, 255, 1);
    height: 100px;
}
.section11 .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
