.section01 {
    background-color: #5725e0;
    height: 550px;
    margin-top: 60px;
}

.section01 .copy {
    padding-top: 40px;
    padding-left: 30px;
}

.section01 .text {
    margin-top: 70px;
    padding-left: 30px;
}

.section02 {
    height: 580px;
}

.section02 .copy {
    padding-top: 50px;
    padding-left: 30px;
}

.section02 .person {
    position: absolute;
    bottom: 78px;
    left: 20%;
}

.section03 {
    height: 580px;
    background-color: #f1f1f1;
}

.section03 .copy {
    padding-top: 50px;
    padding-left: 25px;
}

.section03 .img {
    margin-top: 54px;
}

.section04 .copy {
    padding-top: 50px;
    padding-left: 25px;
}

.section04 .button {
    margin-top: 33px;
    padding-left: 25px;
}

.section04 .img {
    margin-top: 56px;
    text-align: center;
}

.section05 .accordion_container {
    padding-top: 50px;
    padding-left: 25px;
}

.section05 .accordion+.accordion {
    margin-top: 15px;
}

.section05 .text {
    margin-top: 30px;
    padding-left: 25px;
}

.section05-swiper {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 0 25px;
    padding-bottom: 50px;
}

.section05-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section05-swiper .swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.section06 {
    height: 90px;
}

.section06 .button {
    padding-top: 20px;
    padding-bottom: 93px;
    text-align: center;
}