.section01 {
    background-color: #5725e0;
    height: 550px;
    margin-top: 60px;
}

.section01 .copy {
    padding-top: 40px;
    padding-left: 30px;
}

.section01 .text {
    margin-top: 70px;
    padding: 0 30px;
}

.section01 .text li {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(228 228 228 / 25%);
}

.section01 .text li+li {
    padding-top: 12px;
}

.section01 .text li img {
    display: block;
}

.section02 {
    height: 580px;
}

.section02 .copy {
    padding-top: 50px;
    padding-left: 30px;
}

.section02 .person {
    position: absolute;
    bottom: 78px;
    left: calc(50% - 113.5px);
}

.section03 {
    height: 580px;
    background-color: #f1f1f1;
}

.section03 .copy {
    padding-top: 50px;
    padding-left: 25px;
}

.section03 .img {
    margin-top: 43px;
}

.section04 .copy {
    padding-top: 50px;
    padding-left: 25px;
}

.section04 .button {
    padding: 14px 0;
    margin: 25px 30px 0;
    height: 44px;
    border: 1px solid #4522bd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    line-height: 44px;
}

.section04 .button img {
    display: block;
    margin: 0 auto;
}

.section04 .img {
    position: relative;
    margin-top: 47px;
    text-align: center;
}

.section05 .accordion_container {
    /* padding-top: 50px; */
    padding: 69px 30px 0;
}

.section05 .accordion_container .accordion {
    padding: 22px 20px 22px;
    background: #f2f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section05 .accordion_container .accordion+.accordion {
    margin-top: 10px;
}


/* .section05 .accordion+.accordion {
    margin-top: 15px;
} */

.section05 .text {
    margin-top: 30px;
    padding-left: 25px;
}

.section05-swiper {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 0 25px;
    padding-bottom: 50px;
}

.section05-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    padding: 20px 14px;
    justify-content: flex-start;
    align-items: flex-start;
    background: #a132f9;
    width: 130px;
    max-width: 130px;
    height: 130px;
    border-radius: 4px;
}

.section05-swiper .swiper-slide img {
    display: block;
    /* object-fit: cover;
    width: 100%; */
}

.section06 {
    height: 90px;
}

.section06 .button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.01%;
    padding: 20px 31px 93px;
    /* padding-top: 20px;
    padding-bottom: 93px; */
    text-align: center;
}

.section06 .button-wrap .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36.915%;
    height: 50px;
    background: #040404;
    border-radius: 4px;
    box-sizing: border-box;
}

.section06 .button-wrap .button+.button {
    width: 61.075%;
    background: #5725e0;
}