.slider-wrap .slide-card {
    background-color: #fff;
    padding: 20px;
    display: flex !important;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.slide1-left {
    width: 119px;
    height: 100%;
}

.slide1-right {
    width: 75px;
    height: 100%;
}


/* mymo-slide */

.slider-mymo-wrap .slide-card {
    background-color: #fff;
    padding: 14px;
    /* display: flex !important; */
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
    height: 160px;
    /* margin-right: 25px; */
}

.slider-mymo-wrap .slide-card:first-child {
    margin-left: 25px;
}

.mymo-icon {
    margin-left: auto;
    margin-top: 10px;
}


/* slick */

.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-arrow {
    display: none !important;
}


/* box */

.box-book .box__list+.box__list {
    margin-top: 10px;
}

.box__flex {
    display: flex;
    justify-content: space-between;
}

.box-benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-loan {}

.box-loan .box__list+.box__list {
    border-top: 1px solid #eeeeee;
    padding-top: 14px;
    margin-top: 14px;
}

.box-loan .box__flex+img {
    margin-top: 4px;
}


/* .container .section-mymo-slide {
  padding-left: 25px;
  padding-right: 0;
} */

.container .section-slide {
    padding-left: 0;
    padding-right: 0;
}


/* 
/* sub_mydata ----------------------------------------- */


/* sub_myasset ----------------------------------------- */

.wrap.sub_myasset .container section:first-child {
    padding-top: 0;
}

.wrap.sub_myasset .container section:first-child .box+.title-box {
    margin-top: 20px;
}

.wrap.sub_myasset .container .title-box.title-box--column {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrap.sub_myasset .doughnutChart {
    width: 170px;
    height: 170px;
    margin: 24px auto;
}

.wrap.sub_myasset .progress-desc .title-box+.title-box {
    padding-top: 14px;
    margin-top: 14px;
    border-top: 1px solid #e4e4e4;
}

.wrap.sub_myasset .mixChart {
    margin: 30px auto;
}

.wrap.sub_myasset .container .section-slide {
    padding: 30px 0 40px;
}