body {
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 768px;
}

.header {
    flex: 0 0 60px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header_menue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    margin: 0;
}

.header_menue li {
    display: flex;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    flex: 0 0 72px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}

.btm_menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 7px 20px 0;
}

.btm_menu ul li {
    box-sizing: content-box;
}

.btm_menu ul a {
    display: flex;
}

.btm_menu ul img {
    width: 100%;
}

.container {
    padding: 68px 0 73px;
    background: #5725e0;
}

.container .section {
    padding: 20px 25px;
}

.container .section .box {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.container .section .box+.box {
    margin-top: 10px;
}

.container .section .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .section .title-box+.box {
    margin-top: 14px;
}