/* common */

body {
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 768px;
}

.header {
    flex: 0 0 60px;
    background: #fff;
}

.header_menue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    margin: 0;
}

.header_menue li {
    display: flex;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    flex: 0 0 72px;
    background: #fff;
}

.btm_menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 7px 20px 0;
}

.btm_menu ul li {
    box-sizing: content-box;
}

.btm_menu ul a {
    display: flex;
}

.btm_menu ul img {
    width: 100%;
}

.container {
    height: calc(100vh - 132px);
    background: #5725e0;
    overflow-y: scroll;
}

.container section {
    padding: 20px 25px;
}

.container .box {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.container .box+.box {
    margin-top: 10px;
}

.container .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .title-box+.box {
    margin-top: 14px;
}

.progress-wrap {
    padding: 15px 0 21px;
}

.progress-wrap .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #efefef;
    overflow: hidden;
    border-radius: 100px;
}

.progress-wrap .progress-bar .progress {
    width: 100%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #19dca1;
    color: #111;
}

.progress-desc {
    margin: 0 auto;
}

.progress-desc li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.progress-desc+.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.progress-desc+.img-box+.img-box--border {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
}

.progress-desc+.img-box img+img {
    margin-left: 4px;
}


/* main ----------------------------------------- */

.wrap.main .container>section:first-child {
    padding: 20px 25px 10px;
}


/* sub_mydata ----------------------------------------- */


/* sub_myasset ----------------------------------------- */